.about_wrapper {
	width: 100%;
	margin: 0 auto 20px;
	display: block;
	overflow: hidden;
}

/******************************************************************************\
	ABOUT TOP
\******************************************************************************/

#about_top_box {
	width: 90%;
	display: block;
	overflow: hidden;
	margin: 5px auto;
	border-bottom: 1px solid black;
	padding-bottom: 15px;

	@include respond-to(medium) {
		width: 85%;
	}

	@include respond-to(large) {
		width: 80%;
	}

	@include respond-to(xlarge) {
		width: 75%;
	}
}

#about_top_box img {
	width: 100%;
	border: 5px solid white;

	@include respond-to(large) {
		max-width: 400px;
		margin: 20px;
		float: right;
	}
}

#about_top_box p {
	font-family: $body-font;
	@include font-size(1.8);
	line-height: 22px;
	text-indent: 20px;
	margin: 10px 0;
	color: #666;
}

.about_pad {
	@include respond-to(large) {
		margin: 60px 0 0 !important;
	}
}

#about_top_box a {
	font-weight: bold;
	text-decoration: none;
	color: #444;
}

#about_top_box a:hover {
	text-decoration: underline;
}

#about_top_box h4 {
	text-align: center;
	font-family: $base-font;
	text-indent: 0;
	@include font-size(1.2);
	color: #666;
	line-height: 16px;
}

/******************************************************************************\
	ABOUT CELEBS
\******************************************************************************/

#about_celebs {
	width: 320px;
	display: block;
	overflow: hidden;
	margin: 5px auto 0;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	@include transition (all 0.5s ease);

	@media (min-width: 420px) {
		width: 420px;
	}

	@media (min-width: 630px) {
		width: 630px;
	}

	@media (min-width: 856px) {
		width: 856px;
	}

	@media (min-width: 1080px) {
		width: 1080px;
	}
}

.about_celeb_wrap {
	width: 150px;
	display: block;
	float: left;
	margin: 5px;
	@include transition (all 0.5s ease);

	@media (min-width: 420px) {
		width: 200px;
	}

	@media (min-width: 856px) {
		margin: 5px 7px;
	}

	@media (min-width: 1040px) {
		width: 250px;
		margin: 10px;
	}
}

.about_celeb_wrap img {
	width: 100%;
	border: 3px solid white;
}

.about_celeb_wrap p {
	font-family: $base-font;
	@include font-size(1);
	color: #666;
	text-align: right;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

/******************************************************************************\
	ABOUT MID
\******************************************************************************/

#about_mid_box {
	width: 90%;
	margin: 10px auto;
	display: block;
	overflow: hidden;

	@include respond-to(medium) {
		width: 85%;
	}

	@include respond-to(large) {
		width: 80%;
	}

	@include respond-to(xlarge) {
		width: 75%;
	}
}

#about_mid_box p {
	font-family: $body-font;
	@include font-size(1.8);
	line-height: 22px;
	text-indent: 20px;
	margin: 10px 0;
	color: #666;
}

#about_mid_box h5 {
	font-family: $base-font;
	@include font-size(1.2);
	line-height: 18px;
	margin: 0 0 20px;
	padding: 5px 0;
	color: #444;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#about_mid_box a {
	font-weight: bold;
	text-decoration: none;
	color: #444;
}

#about_mid_box a:hover {
	text-decoration: underline;
}

/******************************************************************************\
	ABOUT CLIPS
\******************************************************************************/

#about_clips_wrap {
	width: 80%;
	margin: 10px auto;
	display: block;
	overflow: hidden;
	display: none;
}

#about_clips_wrap img {
	float: left;
	margin: 10px 0;
	display: inline-block;
}

/******************************************************************************\
	ABOUT BOTTOM
\******************************************************************************/

#about_bot_box {
	width: 90%;
	margin: 10px auto;
	display: block;
	overflow: hidden;

	@include respond-to(medium) {
		width: 85%;
	}

	@include respond-to(large) {
		width: 80%;
	}

	@include respond-to(xlarge) {
		width: 75%;
	}
}

#about_bot_box p {
	font-family: $body-font;
	@include font-size(1.8);
	line-height: 22px;
	text-indent: 20px;
	margin: 10px 0;
	color: #666;
}

#about_bot_box h4 {
	font-family: $body-font;
	@include font-size(1.8);
	line-height: 22px;
	text-indent: 20px;
	margin: 5px 0;
	color: #444;
	text-align: center;
}

#about_bot_box a {
	font-weight: bold;
	text-decoration: none;
	color: #444;
}

#about_bot_box a:hover {
	text-decoration: underline;
}

/******************************************************************************\
	ABOUT CLIENTS
\******************************************************************************/

#about_clients_box {
	width: 90%;
	margin: 10px auto;
	display: block;
	overflow: hidden;

	@include respond-to(medium) {
		width: 85%;
	}

	@include respond-to(large) {
		width: 80%;
	}

	@include respond-to(xlarge) {
		width: 75%;
	}
}

.about_clients_header {
	@include font-size(3.4);
	color: #333;
	font-weight: bold;
	font-family: $base-font;
	display: block;
	width: 100%;
	text-align: right;
	border-bottom: 1px solid black;
	padding-bottom: 4px;
	margin: 10px 0 !important;
}

.about_header_client_small {
	@include font-size(1.2);
}

#about_clients_box p {
	font-family: $base-font;
	@include font-size(1.2);
	line-height: 22px;
	color: #444;
	float: left;
	display: inline-block;
	margin: 5px 15px;
}

#about_clients_box a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#about_clients_box a:hover {
	text-decoration: underline;
}
