/* NAVIGATION
   ========================================================================== */

#navigation {
	width: 100%;
	height: 30px;
	display: block;
	z-index: 5;
	position: static;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#navigation a {
	letter-spacing: 0.1em;
}

.erik_text_wrap {
	display: none;

	@include respond-to(large) {
		display: block;
		position: absolute;
		left: 3%;
	}
}

#erik_text {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(2);
	line-height: 23px;
	letter-spacing: 0.1em;
	margin: 0 0 0 4%;
	padding-top: 7px;
	position: absolute;
	z-index: 1000;
	width: 300px;
	display: none;
}

#erik_text a {
	text-decoration: none;
}

#erik_text_single {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(2);
	line-height: 23px;
	letter-spacing: 0.1em;
	display: inline-block;
	float: left;
	text-decoration: none;
	padding-top: 7px;
	z-index: 1000;
	width: 300px;

	@include respond-to(medium) {
		margin: 0 0 0 0;
	}

	@include respond-to(large) {
		margin: 0 0 0 0;
	}

	@include respond-to(xlarge) {
		margin: 0 0 0 25%;
	}
}

#erik_text_single a {
	text-decoration: none;
}

/* NAV LEFT
   ========================================================================== */

#nav_left {
	width: 100%;
	margin: 0 0.5% 0 0;
	background: #999;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	@include respond-to(medium) {
		justify-content: flex-end;
	}

	@include respond-to(large) {
		width:  75%;
		padding-right: 3px;
	}
}

.articles_list {
	width: 95px;
	text-align: center;

	@include respond-to(medium) {
		width: 100px;
		text-align: right;
	}
}

#articles_drop {
	left: 0px;

	@include respond-to(medium) {
		left: -116px;
	}
}

.tv_list {
	width: 40px;
	text-align: center;

	@include respond-to(medium) {
		width: 50px;
		text-align: right;
	}

	@include respond-to(large) {
		width: 125px;
		text-align: right;
		}
}

#tv_drop {
	left: 0px;

	@include respond-to(medium) {
		left: -170px;
	}

	@include respond-to(large) {
		left: -95px;
	}
}

.radio_list {
	width: 70px;
	text-align: center;

	@include respond-to(medium) {
		width: 95px;
		text-align: right;
	}

	@include respond-to(large) {
		width: 85px;
	}
}

#radio_drop {
	left: 0px;
	width: 250px !important;

	@include respond-to(medium) {
		left: -155px;
	}

	@include respond-to(large) {
		left: -162px;
	}
}

#nav_left ul {
	margin: 0;
	text-align: left;
	height: 30px;
	padding: 0;
	width: auto;
	position: relative;
	z-index: 597;

	@include respond-to(medium) {
		text-align: right;
	}
}

#nav_left ul li a {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(1.2);
	line-height: 23px;
	letter-spacing: 0.1em;
	padding: 7px 10px 0 22px;
	display: inline-block;

	@include respond-to(medium) {
		padding: 7px 10px 0 7px;
	}
}

#nav_left li ul li i {
	float: right;
	padding: 3px 0 0 9px;

	@include respond-to(medium) {
		float: none;
		padding: 0 9px 0;
	}
}

#articles_nav {
	background: #999;
	padding: 7px 0 0 0;
	display: block;
}

.tv_nav_hide {
		display: none;

		@include respond-to(large) {
			display: inline-block;
		}
}

#tv_nav {
	background: #999;
	padding: 7px 5px 0 0;
	display: block;
}

#radio_nav {
	background: #999;
	padding: 7px 10px 0 0;
	display: block;

	@include respond-to(medium) {
		padding: 7px 20px 0 0;
	}

	@include respond-to(large) {
		padding: 7px 10px 0 0;
	}
}

#nav_left li {
	list-style: none;
	margin: 0;
}

#nav_left li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

#nav_left li ul {
	visibility: hidden;
	top: 2px;
	z-index: 598;
	width: 220px;
}

#nav_left li:hover > ul {
	visibility: visible;
}

#nav_left li ul li {
	font-weight: normal;
	height: 30px;
}

#nav_left li:hover > a {
      color: #FFF;
      display: visible !important;
}

.awe_font {
	display: inline-block;
	padding: 0 9px 0;
	visibility: hidden;
}

.nav_cover a {
	background: shade($cover, 60%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_cover a:hover {
	background: $cover;
	@include opacity(1);
}

.nav_cover a:hover .awe_font {
	visibility: visible;
}

.nav_music a {
	background: shade($music, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_music a:hover {
	background: $music;
	@include opacity(1);
}

.nav_music a:hover .awe_font {
	visibility: visible;
}

.nav_film a {
	background: shade($film, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_film a:hover {
	background: $film;
	@include opacity(1);
}

.nav_film a:hover .awe_font {
	visibility: visible;
}

.nav_tv a {
	background: shade($tv, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_tv a:hover {
	background: $tv;
	@include opacity(1);
}

.nav_tv a:hover .awe_font {
	visibility: visible;
}

.nav_art a {
	background: shade($art, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_art a:hover {
	background: $art;
	@include opacity(1);
}

.nav_art a:hover .awe_font {
	visibility: visible;
}

.nav_society a {
	background: shade($society, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_society a:hover {
	background: $society;
	@include opacity(1);
}

.nav_society a:hover .awe_font {
	visibility: visible;
}

.nav_food a {
	background: shade($food, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_food a:hover {
	background: $food;
	@include opacity(1);
}

.nav_food a:hover .awe_font {
	visibility: visible;
}

.nav_lit a {
	background: shade($lit, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_lit a:hover {
	background: $lit;
	@include opacity(1);
}

.nav_lit a:hover .awe_font {
	visibility: visible;
}

.nav_tech a {
	background: shade($tech, 40%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_tech a:hover {
	background: $tech;
	@include opacity(1);
}

.nav_tech a:hover .awe_font {
	visibility: visible;
}

.nav_japan a {
	background: shade($japan, 60%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_japan a:hover {
	background: $japan;
	@include opacity(1);
}

.nav_japan a:hover .awe_font {
	visibility: visible;
}

.nav_psychology a {
	background: shade($psycho, 60%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_psychology a:hover {
	background: $psycho;
	@include opacity(1);
}

.nav_psychology a:hover .awe_font {
	visibility: visible;
}

.nav_copywriting a {
	background: shade($copywriting, 60%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_copywriting a:hover {
	background: $copywriting;
	@include opacity(1);
}

.nav_copywriting a:hover .awe_font {
	visibility: visible;
}

.nav_translation a {
	background: shade($translation, 60%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_translation a:hover {
	background: $translation;
	@include opacity(1);
}

.nav_translation a:hover .awe_font {
	visibility: visible;
}

.nav_tv-factory {
	background: shade($tv-factory, 60%);
	@include opacity(0.85);
	display: inline-block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_tv-factory a:hover {
	background: $tv-factory;
	@include opacity(1);
}

.nav_tv-factory a:hover .awe_font {
	visibility: visible;
}

.nav_tv-interviews {
	background: shade($tv-interviews, 60%);
	@include opacity(0.85);
	display: inline-block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_tv-interviews a:hover {
	background: $tv-interviews;
	@include opacity(1);
}

.nav_tv-interviews a:hover .awe_font {
	visibility: visible;
}

.nav_radio-interviews {
	background: shade($radio-interviews, 60%);
	@include opacity(0.85);
	display: inline-block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_radio-interviews a:hover {
	background: $radio-interviews;
	@include opacity(1);
}

.nav_radio-interviews a:hover .awe_font {
	visibility: visible;
}

/* NAV RIGHT
   ========================================================================== */

#nav_right {
	width:80px;
	margin: 0 0 0 0.5%;
	background: #999;
	padding: 0;

	@include respond-to(medium) {
		width:  80px;
	}

	@include respond-to(large) {
		width:  24.5%;
		margin: 0;
	}

	@include respond-to(xlarge) {
		width:  24.5%;
		margin: 0;
	}
}

.info_list {
	display: block;
	margin: 0;
	padding: 0;
	height: 30px;
}

#info_nav {
	background: #999;
	padding: 7px 0 0 0;
	display: block;
	text-align: center;

	@include respond-to(large) {
		text-align: initial;
		padding: 7px 0 0 13px;
	}
}

#info_drop {
	top: 2px;
	left: -110px;

	@include respond-to(medium) {
		left: -110px;
	}

	@include respond-to(large) {
		left: 0;
	}
}

#info_drop li {
	text-align: right;
	width: 190px;

	@include respond-to(large) {
		text-align: left;
	}
}

#nav_right ul {
	margin: 0;
	text-align: left;
	height: 30px;
	padding: 0;
}

#nav_right ul li a {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(1.2);
	line-height: 23px;
	letter-spacing: 0.1em;
	padding: 7px 20px 0 2px;
	display: inline-block;

	@include respond-to(large) {
		padding: 7px 0 0 10px;
	}
}

#nav_right ul, #nav_right li {
	list-style: none;
	margin: 0;
}

#nav_right ul {
	position: relative;
	z-index: 597;
}

#nav_right li.hover,
#nav_right li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

#nav_right li ul {
	visibility: hidden;
	top: 2px;
	z-index: 598;
}

#nav_right li:hover > ul {
	visibility: visible;
}

#nav_right ul ul li {
	font-weight: normal;
	height: 30px;
}

#nav_right ul li:hover > a {
      color: #FFF;
      display: visible !important;
}

#nav_right:after, #nav_right ul:after {
    content: '';
    display: block;
    clear: both;
}

#nav_right li ul li i {
	float: left;
	padding: 4px 9px 0;

	@include respond-to(large) {
		float: none;
		padding: 0 9px 0;
	}
}

.nav_about a {
	background: shade($about, 30%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_about a:hover {
	background: $about;
	@include opacity(1);
}

.nav_about a:hover .awe_font {
	visibility: visible;
}

.nav_photo a {
	background: shade($photo, 30%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_photo a:hover {
	background: $photo;
	@include opacity(1);
}

.nav_photo a:hover .awe_font {
	visibility: visible;
}

.nav_other a {
	background: shade($selfie, 30%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_other a:hover {
	background: $selfie;
	@include opacity(1);
}

.nav_other a:hover .awe_font {
	visibility: visible;
}

.nav_contact a {
	background: shade($contact, 30%);
	@include opacity(0.85);
	display: block;

	@media (min-width: 660px) {
		@include transition (all 0.5s ease-in-out);
	}
}

.nav_contact a:hover {
	background: $contact;
	@include opacity(1);
}

.nav_contact a:hover .awe_font {
	visibility: visible;
}
