/* NAVIGATION
   ========================================================================== */

#navigation {
	width: 100%;
	height: 30px;
	display: block;
	z-index: 5;
	position: static;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#navigation a {
	letter-spacing: 0.1em;
}

#erik_text {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(2);
	line-height: 23px;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0 0 0 4%;
	display: none;
	float: left;
	text-decoration: none;
	padding-top: 7px;
	@include transition (all 0.5s ease);
	position: absolute;
	z-index: 1000;
	display: none;

	@include respond-to(medium) {
		margin: 0 0 0 2%;
	}

	@include respond-to(large) {
		margin: 0 0 0 15%;
	}

	@include respond-to(xlarge) {
		margin: 0 0 0 25%;
	}
}

.fa {
	display: none !important;

	@include respond-to(medium) {
		display: inline-block !important;
	}
}

#erik_text_single {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(2);
	line-height: 23px;
	letter-spacing: 0.1em;
	margin: 0 0 0 4%;
	display: inline-block;
	float: left;
	text-decoration: none;
	padding-top: 7px;
	@include transition (all 0.5s ease);
	position: absolute;
	z-index: 1000;

	@include respond-to(medium) {
		margin: 0 0 0 4%;
	}

	@include respond-to(large) {
		margin: 0 0 0 12%;
	}

	@include respond-to(xlarge) {
		margin: 0 0 0 25%;
	}
}

.hide_erik {
	display: none;

	@include respond-to(medium) {
		display: none;
	}
}

/* NAV LEFT
   ========================================================================== */

#nav_left {
	width: 100%;
	margin: 0 0.5% 0 0;
	background: #999;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	@include respond-to(large) {
		width:  75%;
	}

	@include respond-to(xlarge) {
		width:  75%;
	}
}

.articles_list {
	width: 100px;
	text-align: right;
}

#articles_drop {
	left: -116px;
}

.tv_list {
	width: 50px;
	text-align: right;
}

#tv_drop {
	left: -167px;
}

.radio_list {
	width: 85px;
	text-align: right;
}

#radio_drop {
	left: -135px;
}

#nav_left ul {
	margin: 0;
	text-align: right;
	height: 30px;
	padding: 0;
	width: auto;
	position: relative;
	z-index: 597;
}

#nav_left ul li a {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(1.2);
	line-height: 23px;
	letter-spacing: 0.1em;
	padding: 7px 10px 0 7px;
	display: inline-block;
}

#articles_nav {
	background: #999;
	padding: 7px 0 0 0;
	display: block;
}

#tv_nav {
	background: #999;
	padding: 7px 5px 0 0;
	display: block;
}

#radio_nav {
	background: #999;
	padding: 7px 10px 0 0;
	display: block;
}

#nav_left li {
	list-style: none;
	margin: 0;
}

#nav_left li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

#nav_left li ul {
	visibility: hidden;
	top: 2px;
	z-index: 598;
	width: 220px;
}

#nav_left li:hover > ul {
	visibility: visible;
}

#nav_left li ul li {
	font-weight: normal;
	height: 30px;
}

#nav_left li:hover > a {
      color: #FFF;
      display: visible !important;
}

.awe_font {
	display: inline-block;
	padding: 0 9px 0;
	visibility: hidden;
}

.nav_music a {
	background: shade($music, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_music a:hover {
	background: $music;
	@include opacity(1);
}

.nav_music a:hover .awe_font {
	visibility: visible;
}

.nav_film a {
	background: shade($film, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_film a:hover {
	background: $film;
	@include opacity(1);
}

.nav_film a:hover .awe_font {
	visibility: visible;
}

.nav_tv a {
	background: shade($tv, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_tv a:hover {
	background: $tv;
	@include opacity(1);
}

.nav_tv a:hover .awe_font {
	visibility: visible;
}

.nav_art a {
	background: shade($art, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_art a:hover {
	background: $art;
	@include opacity(1);
}

.nav_art a:hover .awe_font {
	visibility: visible;
}

.nav_society a {
	background: shade($society, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_society a:hover {
	background: $society;
	@include opacity(1);
}

.nav_society a:hover .awe_font {
	visibility: visible;
}

.nav_food a {
	background: shade($food, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_food a:hover {
	background: $food;
	@include opacity(1);
}

.nav_food a:hover .awe_font {
	visibility: visible;
}

.nav_lit a {
	background: shade($lit, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_lit a:hover {
	background: $lit;
	@include opacity(1);
}

.nav_lit a:hover .awe_font {
	visibility: visible;
}

.nav_tech a {
	background: shade($tech, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_tech a:hover {
	background: $tech;
	@include opacity(1);
}

.nav_tech a:hover .awe_font {
	visibility: visible;
}

.nav_cover a {
	background: shade($cover, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_cover a:hover {
	background: $cover;
	@include opacity(1);
}

.nav_cover a:hover .awe_font {
	visibility: visible;
}

/* NAV RIGHT
   ========================================================================== */

#nav_right {
	width:80px;
	margin: 0 0 0 0.5%;
	background: #999;
	padding: 0;

	@include respond-to(large) {
		width:  24.5%;
		margin: 0;
	}

	@include respond-to(xlarge) {
		width:  24.5%;
		margin: 0;
	}
}

.info_list {
	display: block;
	margin: 0;
	padding: 0;
	height: 30px;
}

#info_nav {
	background: #999;
	padding: 7px 0 0 13px;
	display: block;
}

#info_drop {
	top: 2px;
	left: -110px;

	@include respond-to(large) {
		left: 0;
	}
}

#info_drop li {
	text-align: right;
	width: 190px;

	@include respond-to(large) {
		text-align: left;
	}
}

#nav_right ul {
	margin: 0;
	text-align: left;
	height: 30px;
	padding: 0;
}

#nav_right ul li a {
	color: #eee;
	text-decoration: none;
	font-family: $base-font;
	@include font-size(1.2);
	line-height: 23px;
	letter-spacing: 0.1em;
	padding: 7px 0 0 10px;
	display: inline-block;
}

#nav_right ul, #nav_right li {
	list-style: none;
	margin: 0;
}

#nav_right ul {
	position: relative;
	z-index: 597;
}

#nav_right li.hover,
#nav_right li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

#nav_right li ul {
	visibility: hidden;
	top: 2px;
	z-index: 598;
}

#nav_right li:hover > ul {
	visibility: visible;
}

#nav_right ul ul li {
	font-weight: normal;
	height: 30px;
}

#nav_right ul li:hover > a {
      color: #FFF;
      display: visible !important;
}

#nav_right:after, #nav_right ul:after {
    content: '';
    display: block;
    clear: both;
}

.nav_about a {
	background: shade($about, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_about a:hover {
	background: $about;
	@include opacity(1);
}

.nav_about a:hover .awe_font {
	visibility: visible;
}

.nav_photo a {
	background: shade($photo, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_photo a:hover {
	background: $photo;
	@include opacity(1);
}

.nav_photo a:hover .awe_font {
	visibility: visible;
}

.nav_other a {
	background: shade($other, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_other a:hover {
	background: $other;
	@include opacity(1);
}

.nav_other a:hover .awe_font {
	visibility: visible;
}

.nav_contact a {
	background: shade($contact, 30%);
	@include opacity(0.85);
	display: block;
	@include transition (all 0.5s ease);
}

.nav_contact a:hover {
	background: $contact;
	@include opacity(1);
}

.nav_contact a:hover .awe_font {
	visibility: visible;
}
